<div>
    <h1>Todos los productos:</h1>
    <div>
        {{#each payload}}
        <ul>
            <li>Título: {{this.title}}</li>
            <li>Descripción: {{this.description}}</li>
            <li>Precio: {{this.price}}</li>
            <li>Stock: {{this.stock}}</li>
            <li>Id: {{this._id}}</li>
            <button onclick="addToCart('{{this._id}}')">Agregar al carrito</button>
            <hr>
        </ul>
        {{/each}}

        {{#if hasPrevPage}}
        <a href="/products{{prevLink}}"><button>Anterior</button></a>
        {{/if}}

        {{#if hasNextPage}}
        <a href="/products{{nextLink}}"><button>Siguiente</button></a>
        {{/if}}

        <button onclick="addToCart('6465cb6b661d4ecf61cc8f52')">Agregar al carrito</button>

    </div>
</div>

<script src="/js/products.js"></script>