<div>
    <h1>Todos los productos:</h1>
    <div>
        {{#each payload}}
        <ul>
            <li>Título: {{this.title}}</li>
            <li>Descripción: {{this.description}}</li>
            <li>Precio: {{this.price}}</li>
            <li>Stock: {{this.stock}}</li>
            <button>Agregar al carrito</button>
            <hr>
        </ul>
        {{/each}}

        {{#if hasPrevPage}}
        <a href="/products{{prevLink}}"><button>Anterior</button></a>
        {{/if}}

        {{#if hasNextPage}}
        <a href="/products{{nextLink}}"><button>Siguiente</button></a>
        {{/if}}
    </div>
</div>